{% extends 'common/base.html' %}
{% load static %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="cart">
        <h3><b>订单生成</b></h3>
        <form action="{% url 'App:doorder' %}" method="post" id="subform">
            {% csrf_token %}
            <section class="full">
                <section>
                    <ul>
                        <li>
                            <div class="clear">
                                <p class="infoJustify">收货人<b></b></p>
                                <p>:<span>{{ address.name }}</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="clear">
                                <p class="infoJustify">电话<b></b></p>
                                <p>:<span>{{ address.phone }}</span><a class="change" href="{% url 'App:showaddress' %}">修改></a></p>
                            </div>
                        </li>
                        <li>
                            <div class="clear"><p class="infoJustify">收货地址<b></b></p>
                                <p>:<span>{{ address.address }}</span></p>
                            </div>
                        </li>
                    </ul>


                    <section class="bill">
                        <p>闪送超市</p>
                        <p>¥0起送,22:00前满¥30免运费</p>
                        <a>凑单专区</a>
                    </section>


                    <section class="delivery">
                        <span>收货时间</span> <span>一小时送达</span> <a>可预订></a>
                    </section>
                    <section class="delivery">
                        <span>收货备注</span> <input type="text" name="message" placeholder="可输入100字以内特殊要求内容"/>
                    </section>


                    <menu>
                        <ul>
                            {% for item in cartslist %}
                                <li id="{{ item.goods.productid }}li" class="menuList">
                                    <div class="confirm">

                                    </div>
                                    <a href="#">
                                        <img src="{{ item.goods.productimg }}"/>
                                        <p>{{ item.goods.productname }}</p>
                                        <span id="{{ item.goods.productid }}price"
                                              class="{{ productprice }}">{{ item.goods.price }}</span>
                                    </a>
                                    <section>
                                        <span id="{{ item.productid }}">{{ item.num }}</span>
                                    </section>
                                </li>
                            {% endfor %}

                            <li class="payTheBill">
                                <div class="confirm">

                                </div>
                                <p><span>共计: {{ count }} 件 </span><span>总价 : {{ money }} 元</span>
                                    <input type="hidden" name="money" value="{{ money }}">
                                </p>

                                <a id="ok" onclick="document.getElementById('subform').submit();return false" >提交订单</a>
                            </li>
                        </ul>
                    </menu>
                </section>
            </section>
        </form>
    </div>

{% endblock %}